        <div class="shopping-cart">
            <div class="box">
                <i class="fas fa-times"></i>
                <img src="assets/image/cart-img-1.jpg">
                <div class="content">
                    <h3>Model Furniture</h3>
                    <span class="quntity">1</span>
                    <span class="multiply">X</span>
                    <span class="price">$140.00</span>
                </div>

            </div>
            <div class="box">   
                <i class="fas fa-times"></i>
                <img src="assets/image/cart-img-2.jpg">
                <div class="content">
                    <h3>Model Furniture</h3>
                    <span class="quntity">1</span>
                    <span class="multiply">X</span>
                    <span class="price">$140.00</span>
                </div>

            </div>
            <div class="box">
                <i class="fas fa-times"></i>
                <img src="assets/image/cart-img-3.jpg">
                <div class="content">
                    <h3>Model Furniture</h3>
                    <span class="quntity">1</span>
                    <span class="multiply">X</span>
                    <span class="price">$140.00</span>
                </div>

            </div>

            <div class="box">
                <i class="fas fa-times"></i>
                <img src="assets/image/cart-img-4.jpg">
                <div class="content">
                    <h3>Model Furniture</h3>
                    <span class="quntity">1</span>
                    <span class="multiply">X</span>
                    <span class="price">$140.00</span>
                </div>
            </div>
            <h3 class="total">total : <span>560.00</span></h3>
            <a href="" class="btn">checkout cart</a>
        </div>
        <div class="login-form">
            <form action="">
                <h3>Login Form</h3>
                <input type="email" placeholder="Enter Your E-mail" class="box">
                <input type="password" placeholder="Enter Your Password" class="box">
                <div class="remember">
                    <input type="checkbox" id="remember-me" name="remember-me" >
                    <label for="remember-me">remember me</label>
                </div>
                <input type="submit" value="login now" class="btn">
                <p>Forget Password?<a href="">Click here</a></p>
                <p>Don't have any account?<a href="">Create now</a></p>

            </form>

        </div>
           <!-- home section starts  -->

    <section class="home">

        <div class="slides-container">
            <div class="slide active">
                <div class="content">
                    <span>new arrivals</span>
                    <h3>flexible chair</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur quisquam, magnam enim sed debitis perspiciatis.</p>
                    <a href="#" class="btn">shop now</a>
                </div>
                <div class="image">
                    <img src="assets/image/home-img-1.png" alt="">
                </div>
            </div>
    
            <div class="slide">
                <div class="content">
                    <span>new arrivals</span>
                    <h3>flexible chair</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur quisquam, magnam enim sed debitis perspiciatis.</p>
                    <a href="#" class="btn">shop now</a>
                </div>
                <div class="image">
                    <img src="assets/image/home-img-2.png" alt="">
                </div>
            </div>
    
        </div>
    
        <div id="slide-next" onclick="next()" class="fas fa-angle-right"></div>
        <div id="slide-prev" onclick="prev()" class="fas fa-angle-left"></div>
     </section>
                 <!-- End home section  -->

            <!-- start banner section  -->

            <section class="banner-container">
                <div class="banner">
                    <img src="assets/image/banner-1.jpg">
                    <div class="content">
                        <span>Limited Offer</span>
                        <h3>UpTo 50% off</h3>
                        <a href="" class="btn">Shop now</a>
                    </div>
                </div>
                <div class="banner">
                    <img src="assets/image/banner-2.jpg">
                    <div class="content">
                        <span>Limited Offer</span>
                        <h3>UpTo 50% off</h3>
                        <a href="" class="btn">Shop now</a>
                    </div>
                </div>
                <div class="banner">
                    <img src="assets/image/banner-3.jpg">
                    <div class="content">
                        <span>Limited Offer</span>
                        <h3>UpTo 50% off</h3>
                        <a href="" class="btn">Shop now</a>
                    </div>
                </div>
            </section>









           <!-- End banner section  -->

       

     





